.navbar {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 2.5em;
    background-color: #1e1e1e;
    z-index: 10;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
