.password-input-container {
    display: inline-block;
    position: relative;
}

.password-input {
    padding: 0.5em 3em 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid #676767;
    font-size: 1em;
}

.password-toggle {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
    padding: 0;
    background: none;
    border: none;
}