.navbar {
    display: flex;
    width: 100vw;
    height: 2.5em;
    background-color: #1e1e1e;
    z-index: 10;
}

.navbar-inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}