.player-bar-container {
    display: flex;
    min-width: 85%;
}

.player-1-bar {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    background-color: #fb7185;
}

.player-2-bar {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    background-color: #383839;
}

.player-bar-details {
    display: flex;
    flex-direction: column;
    padding: 3em 2em;
    margin-left: 10em;
    margin-right: 10em;
}

.player-1-bar-name {
    font-size: 4.5em;
    color: #ffffff;
    margin: 0;
    line-height: 0.8;
}

.player-2-bar-name {
    font-size: 4.5em;
    color: #18181B;
    margin: 0;
    line-height: 0.8;
}

.italic {
    font-style: italic;
}