.correct {
    color: #ffffff;
}

.wrong {
    color: #fb7185;
    text-decoration-line: underline;
    text-decoration-color: #fb7185;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
