.waiting-screen-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    gap: 5em;
    padding-bottom: 10vh;
}

.waiting-player-1 {
    display: flex;
    justify-content: flex-start;
}

.waiting-player-2 {
    display: flex;
    justify-content: flex-end;
}