.stack-word {
    display:flex;
    justify-content: center;
    letter-spacing: 0.2rem;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
    font-size: 2rem;
    font-weight: 600;
    width: 200px;
}

.active-word {
    color: white;
    background-color: #fb7185;
}

.correct {
    color: #22D3EE;
}

.incorrect {
    color: indigo;
}