.pane-container {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

.page-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}
