:root {
    font-family: monospace;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #999899;
    background-color: #1e1e1e;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
}
